name: Check Prettier
on: [push]

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
      - uses: creyD/prettier_action@v3.0
        with:
          prettier_options: --write **/*.{js,json,css}
          dry: true
      - uses: lee-dohm/close-matching-issues@v2
        if: ${{ success() }}
        with:
          query: 'label:prettier assignee:${{github.actor}}'
          token: ${{ secrets.GITHUB_TOKEN }}  
      - uses: JasonEtco/create-an-issue@v2
        if: ${{ failure() }}
        with:
          assignees: ${{github.actor}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
