name: Check Prettier
# This workflow is triggered on pushes to the repository.
on: [push]

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
      - name: Prettier Action
      # You may pin to the exact commit or the version.
      # uses: creyD/prettier_action@71bcaf62101319a94cc7403ca9ddc5424be1ee17
        uses: creyD/prettier_action@v3.0
        with:
          # Commit message
          #commit_message: # optional, default is Prettified Code!
          # Commit options
          #commit_options: # optional
          # File pattern used for `git add`
          #file_pattern: # optional, default is *
          # Options for the `prettier` command
          prettier_options: --write **/*.{js,json,css}
          # Running the script in dry mode just shows whether there are files that should be prettified or not
          dry: true # optional
      - uses: JasonEtco/create-an-issue@v2
        if: ${{ failure() }}
        with:
          assignees: ${{github.actor}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
