- name: Prettier Action
    uses: creyD/prettier_action@v3.0
    with:
      # Commit message
      #commit_message: # optional, default is Prettified Code!
      # Commit options
      #commit_options: # optional
      # File pattern used for `git add`
      # file_pattern: # optional, default is *
      # Options for the `prettier` command
      #prettier_options: # optional, default is --write **/*.js
      # Running the script in dry mode just shows whether there are files that should be prettified or not
      dry: true # optional
